<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/mdb/css/mdb.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='reset-pass.css') }}">
</head>

<body>
    <form action="/reset" method="POST" width: 29rem;" id="form">

        <h4 style="color: #000;margin-top: -10px;" > Reset Password </h4>
        <!-- Name input -->
        <div data-mdb-input-init class="form-outline mb-4 mt-4">
          <input type="password" id="form5Example1" class="form-control" name="old_pass" />
          <label class="form-label" for="form5Example1">Old Password </label>
        </div>
      
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="form5Example2" class="form-control" name="new_pass"/>
          <label class="form-label" for="form5Example2">New Password</label>
        </div>
    
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 mt-3 rounded-pill shadow-sm custom-btn"> Reset Password </button>
    </form>


</body>

</html>