<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/mdb/css/mdb.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='reset-pass.css') }}">
</head>

<body>
    <form action="/reset" method="POST" width: 29rem;" id="form">

        {% if request.method == 'POST' %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flashes">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      {% endif %} 
      
        <h4 style="color: #000;margin-top: -10px;" > Reset Password </h4>
        <!-- Name input -->
    

        <div data-mdb-input-init class="form-outline mb-4 mt-4">
          <input type="password" id="form5Example1"  name="New_Password" />
          <label class="form-label" for="form5Example1">New Password </label>
        </div>
      
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="form5Example2" name="Confirm_Password"/>
          <label class="form-label" for="form5Example2">Confirm Password</label>
        </div>
    
        <!-- Submit button -->
       
        <button type="Submit" name="Reset"> Reset</button>
    </form>


</body>

</html>