{% extends "base/index.html" %}
{% block title %} {% endblock %}
{% block content %}

<navbar>
    <!-- Navbar content goes here -->
</navbar>

<div class="reg-content">

    <div class="reg-petco">
        <span>PetCo
            <img src="{{ url_for('static', filename='images/pet-care.png') }}" id="logo" />
        </span>
    </div>

    <div class="blob">

        <div class="man-with-dog">
            <img src="{{ url_for('static', filename='images/Veterinary.png') }}" id="vet" />
        </div>

    </div>

    <div class="blob2">
        <div class="whole-reg-form">
            <h2
                style="margin-left: 124px;color:black;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: -16px; margin-bottom: 13px; font-size: 22px;letter-spacing: 0.03em;">
                Let's Get Started
            </h2>


            <div class="reg-container">
            

                <ul class="nav nav-pills nav-justified mb-1" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-login" role="tab" aria-controls="pills-login"
                            aria-selected="true">Pet
                            Owner</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-register" data-mdb-pill-init href="#" role="tab"
                            aria-controls="" aria-selected="true">Vet </a>
                    </li>
                </ul>

                <!-- Pills navs -->
                <ul class="nav nav-pills nav-justified mb-1" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-login" role="tab" aria-controls="pills-login"
                            href="{{ url_for('login') }}" aria-selected="true">Login</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-register" data-mdb-pill-init href="#" role="tab"
                            aria-controls="" aria-selected="true">Register</a>
                    </li>
                </ul>
                <!-- Pills navs -->

                
                {% if request.method == 'POST' %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                    <div class="alert alert-primary">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                {% endif %}

                
                <div class="reg-form">

                    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                        <form action="/register" method="POST">
                            <!-- Registration form content -->
                            {{ Regform.csrf_token }}
                    </div>

                    <div class="input-menu">
                        <!-- Fullname input -->
                        <div class="reg-errors">
                            {% for error in Regform.Fullname.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div data-mdb-input-init class="form-outline mb-3 mt-2">
                            <input type="text" id="registerName" name="Fullname" class="form-control" maxlength="250"
                                required />
                            <label class="form-label" for="registerName">Fullname</label>
                        </div>

                        <!-- Email input -->
                        <div class="reg-errors">
                            {% for error in Regform.Email.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="email" id="registerEmail" name="Email" class="form-control" required />
                            <label class="form-label" for="registerEmail">Email</label>
                        </div>

                        <!-- Password input -->
                        <div class="reg-errors">
                            {% for error in Regform.Password.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" id="registerPassword" name="Password"  title="Password must have capital letter [Aa], numbers[0-9] and be minimum 6 characters" class="form-control" min="6"
                                max="200" required />
                            <label class="form-label" for="registerPassword">Password</label>
                        </div>

                        <!-- Repeat Password input -->

                        <div class="reg-errors">
                            {% for error in Regform.Confirm_Password.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" id="registerRepeatPassword" name="Confirm_Password"
                                class="form-control" required />
                            <label class="form-label" for="registerRepeatPassword">Confirm password</label>
                        </div>

                    </div>

                    <div class="reg-btns">
                        <button type="submit"
                            class="btn btn-primary btn-block text-uppercase mb-3 mt-2 rounded-pill shadow-sm custom-btn">Create
                            Account</button>
                        </form>

                        <div class="background">
                            <p class="text-center"> or </p>
                        </div>

                        <div>
                            <!-- <button type="submit"
                            class="btn btn-primary btn-block text-uppercase mb-2 mt-2 rounded-pill shadow-sm google-btn" href="/google_auth">Sign
                            Up with Google
                        </button> -->
                            <a href="/google_auth" class="btn btn-primary mt-0 rounded-pill shadow-sm google-btn"> SIGN UP
                                WITH
                                GOOGLE</a>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    {% endblock %}