.content{
    width: 100%;
    height: 80vh;
    
}

.log-form {
    width: 35%;
    height: 70vh;
    margin-right: 90px;
    float: right;   
    margin-top: -580px;
    font-size: 15px;
}

.log-form-content{
    height: 75vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    float: right;
    border-radius: 10px;
}

.container-2{
    height: 50vh;
}

.blob{
    width: 50%;
    height: 100vh;
    flex: 0 0 25%;
    /* border-radius: 40%; */
    /* background-color: hsla(60, 93%, 68%, 0.57);  */
    margin-left: 1px;
    margin-top: -15px;
}


.log-petco{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 14px;
    position: absolute;
    z-index: 0;

    #logo{
        width: 5%;
    }
}

.man-with-dog img{
    width: 100%;
    margin-top: 75px;
    margin-left: 90px;
}

#ex1{
    margin-top: -10px;
}

.errors{
    font-size: 12px;
    color: white;
   
    margin: -6px;

    ol{
        margin-left: -22px;
    }
}

 .google-btn{
    width: 60%;
    color: white;
    background-color: #000000;
    margin-left: 73px;
}

.custom-btn{
    background-color: #FCA311;
    width: 60%;
    margin-left: 73px;
} 

.custom-btn:hover{
    background-color: #000000;
}

.forgot{
    width: 100%;
    text-align: left;
    font-size: 15px;
    column-count: 2;
    margin-left: 5px;
    margin: 14px;
    display: flex;
}

.tab-content{
    height: 60vh;
}

.google-btn:hover{
    background-color: #FCA311;
}

#tab-login{
    line-height: 0.08em;
    color: #000;
    border-radius: 12px;
}

#tab-register{
    line-height: 0.08em;
    color: #000;
    border-radius: 12px;
}

.background{
    height: 5vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    size: 80%;
}
