.content{
    width: 100%;
    
}

.forms {
    width: 35%;
    height: 55vh;
    margin-right: 90px;
    float: right;
    margin-top: -540px;
    font-size: 15px;
}

.error{
    color: red;
    font-size: 0.975em;
}

.flashes{

    .alert-primary {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
        
    }

    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding-bottom: -5px;
    }
}
.container{
    height: 76vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;

    position: relative;
}

.container-2{
    height: 50vh;
}

.custom-btn{
    background-color: #FCA311;
}

.blob{
    width: 50%;
    height: 100vh;
    flex: 0 0 25%;
    /* border-radius: 40%; */
    background-color: hsla(60, 93%, 68%, 0.57); 
    margin-left: 1px;
    margin-top: 1px;
}

.man-with-dog img{
    width: 70%;
    margin-top: 75px;
    margin-left: 90px;
}