<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Cancel Appointment</h1>
        <p>Are you sure you want to cancel this appointment?</p>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.submit(class_="btn btn-danger") }}
            </div>
        </form>

    </div>
</body>
</html>
