{% extends "base/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
        <div>
            <h1 color="#00000" style="font-family:'Courier New', Courier, monospace;">WELCOME TO PAW CARE</h1>
        </div>
    <div class="illustration">
        <div class="vet container">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#c2d2d3"
                    d="M52.3,-62.8C67.2,-49.8,78.3,-32.8,82.4,-13.8C86.6,5.1,83.8,26,73.5,41.2C63.3,56.5,45.5,66.2,26.9,72.3C8.4,78.3,-10.9,80.7,-24.7,73.3C-38.4,65.9,-46.6,48.7,-56.3,32.3C-66,15.8,-77.4,0.1,-75.7,-14C-74,-28.2,-59.4,-40.8,-44.6,-53.8C-29.8,-66.8,-14.9,-80.2,1.9,-82.5C18.7,-84.8,37.4,-75.8,52.3,-62.8Z"
                    transform="translate(100 100)" />
            </svg>
            <img src="{{ url_for('static', filename='images/vet-home2.jpg') }}" class="vet-dog" />
        </div>
        <div >
            
            <!-- <div class="column1">
                <p>Book Appointment</p>
            </div> -->
            {% if current_user.role == 'user' %}
            <a href="{{ url_for('register_pet') }}" class="btn btn-primary">Register Your Pet</a>
            {% endif %}
        </div>
    </div>
    
    <div class="demo">
        <p>Discover Paw Care! At Pew Care, we are passionate about providing the highest quality care for your beloved pets.</p>
    </div>
</div>
{% endblock %}

