<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/mdb/css/mdb.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

   

    <script type="module" type="text/javascript" src="../static/mdb/js/mdb.umd.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    
    <!-- <script type="module" src="{{ url_for('static', filename='reg_log.js') }}"></script> -->


    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />


</head>

<body>
    {% block content %}
    {% endblock %}
</body>
