{% extends "./index.html" %}
{% block title %} {% endblock %}
{% block content %}

<div class="main">
<div class="land-navigation">
    <nav class="navbar navbar-expand-lg shadow-none" style="background-color: #ffffff;"  data-mdb-theme="light" >
        <!-- Container wrapper -->
  
        <div class="container-fluid">
          <!-- Toggle button -->
          <button
            data-mdb-collapse-init
            class="navbar-toggler"
            type="button"
            data-mdb-target="#navbarCenteredExample"
            aria-controls="navbarCenteredExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
          <li>
            <span style="float:left;font-weight: 700; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 26px;">
                <a class="nav-link" href="#">PetCo </a> </span>   
            </li>

    
           
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample" >
            <!-- Left links -->
            <ul class="navbar-nav mb-1 mb-lg-0">
           
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href=" /register">Login</a>
              </li>

              <!-- Navbar dropdown -->
              <!-- <li class="nav-item dropdown">
                <a
                  data-mdb-dropdown-init
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  aria-expanded="false"
                >
                  Dropdown
                </a> -->
                <!-- Dropdown menu -->
                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#">Action</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Another action</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li> -->
<!--              
                <span style="font-family:Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">
                    <a class="nav-link" href="#">Create Account </a> </span>        -->

              <li class="nav-item">
                <!-- <a class="nav-link disabled"
                  >Disabled</a
                > -->
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>

    </div>

<section class="land-container">


    <div class="better-health">
        <h3> BETTER <span style="color:#FCA311;"> HEALTHCARE </span>FOR YOUR PETS </h3>

    </div>

    <div class="treat-pet">
        <h5>Treat your pet to unlimited health care servies, schedule appointments and connect with a veterinary today </h5>    
    </div>

    <div class = "numbers">
        <h4 style=" color: #FCA311"> 100% </h4>

        <h4> 10K+ </h4>

        <h4> 30K </h4>
    </div>

    <div>
        <div class="doggie">
            <img src="{{ url_for('static', filename='images/bernard.png') }}" id="dog"/>
        </div>
    </div>
   
</section>

</div>

{% endblock %}