{% extends "base/base.html" %}
{% block title %}Manage Veterinarians{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1 class="mb-4">Manage Veterinarians</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <!-- <th>Status</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vet in vets %}
                <tr>
                    <td>{{ vet.Fullname }}</td>
                    <td>{{ vet.Email }}</td>
                    <!-- <td>{{ vet.status }}</td> -->
                    <td>
                        <a href="{{ url_for('edit_vet', vet_id=vet.id) }}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{{ url_for('delete_vet', vet_id=vet.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to suspend this veterinarian?')">Suspend</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <h2 class="mt-4">Suspended Vets</h2>
    <hr>
    {% if suspended_vets %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <!-- <th scope="col">ID</th> -->
                <th >Name</th>
                <th >Email</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>
            {% for vet in suspended_vets %}
            <tr>
                <!-- <th scope="row">{{ vet.id }}</th> -->
                <td>{{ vet.Fullname }}</td>
                <td>{{ vet.Email }}</td>
                <td>
                    <a href="{{ url_for('activate_vets', vet_id=vet.id) }}" class="btn btn-success btn-sm">Activate</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No suspended vets found.</p>
    {% endif %}
        <a href="{{ url_for('register_veterinarian') }}" class="btn btn-primary mt-3">Register a New Veterinarian</a>
    </div>
    <br>
{% endblock %}

{% block scripts%}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
