{% extends"base/base.html" %}
{% block title %}Register Pet{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="mt-4">Register a New Pet</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.species.label(class="form-control-label") }}
                {{ form.species(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.breed.label(class="form-control-label") }}
                {{ form.breed(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.dob.label(class="form-control-label") }}
                {{ form.dob(class="form-control", id='dob') }}
            </div>
            <div class="form-group">
                {{ form.profile_photo.label(class="form-label") }}
                {{ form.profile_photo(class="form-control-file") }}
            </div><br>
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
<script>
    // JavaScript to set the minimum date to today's date
    const dateInput = document.querySelector('input[type="date"]');
    const today = new Date().toISOString().split('T')[0];
    dateInput.setAttribute('max', today);
</script>
{% endblock %}
