<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='reg-vet.css') }}"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/mdb/css/mdb.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='verify.css') }}">

    <style>
        body {
            background-color: #f0f0f0;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .form-register {
            max-width: 400px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>

    <script type="module" type="text/javascript" src="../static/mdb/js/mdb.umd.min.js"></script>


</head>
<body>
    
    <nav class="navbar navbar-expand-lg shadow-none" style="background-color: #ffffff;" data-mdb-theme="light">
        <div class="home-nav">
            <button data-mdb-collapse-init class="navbar-toggler" type="button"
                data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="home-petco">
                <span>PetCo
                    <img src="{{ url_for('static', filename='images/pet-care.png') }}" id="logo" />
                </span>
            </div>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
                <ul class="navbar-nav mb-1 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href=""> </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }} ">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About </a>
                    </li>
                    {% if current_user.role == 'user' %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Pet </a>
                    </li>
                    {% endif %}
                    {% if current_user.role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('manage_vets') }}">Veterinarians</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('manage_users') }}">Pet Owners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register_admin') }}">Register Admin </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_reports') }}">Reports</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile </a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <div class="nav-item">
                    <a style="color:#FCA311; font-size:18px;float:right;margin-right:8px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left:30px;"
                        class="nav-link" href="{{ url_for('checkPass') }}">Lock</a>
                </div>
                <div class="nav-item">
                    <a style="z-index:2; color:#FCA311; padding-left:15px;font-size:18px;float:right;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                        class="nav-link" data-mdb-ripple-init data-mdb-modal-init
                        data-mdb-target="#staticBackdrop">Log out</a>
                </div>


            </div>
        </div>
    </nav>
    <div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="staticBackdropLabel" style="font-weight: 600;text-align: center;">
                        Are you sure you want to Log Out?</h6>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body"> If you do decide to Log Out, all your session will be lost</div>
                <div class="modal-footer">
                    <button type="button" style="background-color:#000000; color:#ffffff;" class="btn btn-secondary"
                        data-mdb-ripple-init data-mdb-dismiss="modal"> No, return to session</button>
                    <a type="button" style="background-color:#FCA311 ;" class="btn btn-primary" id="confirmLogout"
                        data-mdb-ripple-init href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <h1>Register Admin</h1>
        <form method="POST" action="{{ url_for('register_admin') }}"><br>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.fullname.label }}
                {{ form.fullname(class="form-control") }}
                {% for error in form.fullname.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</body>
</html>